.button {
    outline: none;
    background: rgb(0,0,0,0.3);
    border: none;
    color: white;
    cursor: pointer;
}

.nonselectedbutton{
    color: white;
    background: rgba(0,0,0,0.3);
}

.selectedbutton{
    color: #0f172a;
    background: white;
}

.buttonContainer{
    margin: 0 auto;
}